#navBar-left {
  width: 120px;
  height: calc(100vh - 40px);
  top: 40px;
}

#navBar-top {
  width: 100vw;
  height: 40px;
  display: flex;
  justify-content: flex-end;

  &>img:first-of-type {
    position: absolute;
    width: 80px;
    aspect-ratio: 1;
    margin: 10px 20px;
    left: 0;
  }
}

#profileInfo {
  background-color: white;
  width: 200px;
  height: 30px;
  margin: 5px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  font-size: 25px;
  
  img {
    height: 28px;
    margin: 1px;
    margin-right: 10px;
    border-radius: 50%;
    object-fit: cover;
  }
}