#navBar-left {
  width: 120px;
  height: calc(100vh - 80px);
  top: 40px;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;

  a {
    width: calc(100% - 10px);
    background-color: white;
    border: 0;
    outline: 0;
    font-size: 24px;
    padding-block: 4px;
    border-top: 1px solid grey;
    text-decoration: none;
    color: black;
    text-align: center;

    &:first-of-type {
      border-radius: 10px 10px 0 0;
      border-top: 0;
    }

    &:last-of-type {
      border-radius: 0 0 10px 10px;
    }

    &:hover {
      background-color: rgb(227, 227, 227);
    }
  }
}

#navBar-top {
  width: 100vw;
  height: 40px;
  display: flex;
  justify-content: flex-end;

  &>img:first-of-type {
    position: absolute;
    width: 80px;
    aspect-ratio: 1;
    margin: 10px 20px;
    left: 0;
  }
}

#profileInfo {
  background-color: white;
  width: 160px;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 25px;
  padding-left: 10px;
  
  img {
    height: 100%;
    object-fit: cover;
    position: absolute;
    right: 0;
  }
}

#watch {
  color: white;
  width: 150px;
  height: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: grid;
  place-items: center;
  font-size: 24px;
}