@use "./NavBar/NavBar.scss";
@use "./Main/Main.scss";
@use "./Users/Users.scss";
@use "./Notes/Notes.scss";
@use "./Logs/Logs.scss";
@use "./Profile/Profile.scss";

$mainColor: rgb(21, 62, 134);

* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: $mainColor;
  overflow: hidden;
}

a {
  text-decoration: none;
}

main,nav{
  position: absolute;
}

#errorPage {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  a {
    text-decoration: none;
    color: $mainColor;
  }
}